@charset "UTF-8";
@font-face {
	font-family: 'webfont';
	src: url(../../font/notosans.ttf), format('truetype');
}
@font-face {
	font-family: 'titleFont';
	src: url(./font/KoPubWorld\ Batang\ Bold.ttf), format('truetype');
}
html {
	background-color: #FCFEFC;
}

* {
	padding: 0;
	margin: 0;
	font-family: 'webfont';
	box-sizing: border-box;
}
	
#profile {
	width: 35px;
	height: 35px;
}
#user{
	display: inline;	
}
body {
	margin-left: 100px; 
	margin-right: 100px; 
	position: relative;
	margin-bottom: 80px;
}
ul {
	list-style: none;
}
li {
	list-style: none;
}
#wraper {
	display: flex;	
	flex-direction: column;
	align-content: center;
	padding-top: 10%;
}

header {
	display: flex;
	position: relative;
	height: 150px;
}
#category {
	position: absolute;
	display: flex;
	left: 300px;
	justify-content: space-between;
}

#logintext {
	position: absolute;
	right: 250px;
	top: 48px;
}
#user {
	display: flex;
	position: absolute;
	right: 16px;
	top: 48px;
}
#mainImg {
	width: 100%;
}
#mainImg>img{
	width: 100%;
}
a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 16px;
}
.first {
	margin: 0 1.5em 0 1.5em;
}
#info {
	margin-left: 1em;
}

.second {
    list-style: none;
    position: absolute;
    background-color: #FCFEFC;
    border: 0.5px solid #888888;
    text-align: center;
    top: 90px;
    left: 620px;
    padding: 8px;
 	display: none;
}
.second>:nth-child(2), .second>:nth-child(3), .second>:nth-child(4) {
	margin-top: 1em;
}
#mainText {
	position: absolute;
	font-family: 'titleFont';
	top: 30%;
	left: 30%;
	font-weight: bold;
}
#mainText>{
	padding: 8px;
	margin-top: 1em;
}

.btn{
	position: relative;
   text-align: center;
   background-color: #88888888;
   padding: 8px;
   border-radius: 12px;
   font-size: 12px;
   color: white;
   width: 16em;
   height: 4em;
   border: none;
   margin: 10px, 0, 10px, 0;
}

#userProfile {
	position: relative;
	display: inline;	
}

#mid_profile {
	position: absolute;
	top: 35px;
	left: 50%;
    transform: translateX(-50%);
	width: 250px;
	height: 250px;
	border-radius: 50%;
	border: 1px solid lightgray;
}


#nickName {
	position: absolute;
	top: 300px;
	left: 50%;
    transform: translateX(-50%);
	z-index: 1;
	font-size: 20px;
	font-weight: bold;
}	

#follFav{
	position: absolute;
	top: 350px;
	left: 50%;
    transform: translateX(-50%);
	text-align: center;
}

#like, #bookMark {
	font-size: 16px;
}

#bg {
	width: 100%;
	height: 450px;
}	
	
#port{
	text-align: center;
	margin: 30px;
}
	
	
#port_all_container{ 
	display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center; 
	border: 1px solid lightgray; 
	border-radius: 10px; 
	width: 100%;
}
 
.port_all {
      flex: 0 0 15vh;
      height: 150px;
      box-sizing: border-box;
      margin: 10px;
      border: 1px solid lightgray;
      border-radius: 4px;
    }
	
#noPort{
	text-align: center;
	margin-top: 10px;
}
	
	
	
	
	
	
	












