@charset "UTF-8";
@font-face {
	font-family: 'webfont';
	src: url(../font/notosans.ttf);
}
@font-face {
	font-family: 'titleFont';
	src: url(../font/KoPubWorld\ Batang\ Bold.ttf), format('truetype');
}
/*@keyframes {
	
}*/

html {
	background-color: #FCFEFC;
}
* {
	font-family: 'webfont';
	box-sizing: border-box;
	font-size: 17px;
}
#container {
	position: absolute;
	width: 100px;
	height: 50px;
	background: floralwhite;
	border-radius: 24px;
	padding: 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	right: 8%;
	transition: opacity 0.3s ease-in-out;
	opacity: 0;
	visibility: hidden;
	z-index: 1;
	text-align: center;
}
#item1{
	text-align: center;
	position: relative;
	bottom: 10px;
}

#item2 hr {
	margin-top: 1em;
	margin-bottom: 1em;
}
#profile {
	width: 55px;
	height: 55px;
}
a{
	text-decoration: none;
	color: black;
}
ul, li {
	list-style: none;
}
#rootContainer {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
}
#cate{
	display: flex;
	flex-grow: 0;
}
#aicon {
	align-items:  flex-start;
	flex-grow: 0;
}
#login{
	text-align: right;
	flex-grow: 1;
	padding-right: 15%;	
}
.second {
    list-style: none;
    background-color: #FCFEFC;
    border: 0.5px solid #888888;
    text-align: center;
    padding: 8px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 1;
}
#user{
	flex-grow: 1;
	text-align: right;
}
#user>p{
	display: inline;
	position: relative;
	bottom: 10px;
}
#contianer#item2 {
	align-self: flex-start;	
}
#profile:hover #container,
#user:hover #container {
	opacity: 1;
	visibility: visible;
}
#info:hover .second{
	opacity: 1;
	visibility: visible;
}
#cate{
	display: flex;
	flex-grow: 0;
}

#profile{
	border: 1px solid lightgray;
	border-radius: 50%;
	height: 40px;
	width: 40px;
}

#cate *{
	padding-left: 1.5em;
}


#item2{
	bottom: 0px;
}

#logintext{
	position: absolute;
	right: 0;
}













	
