@charset "UTF-8";
@font-face {
	font-family: 'webfont';
	src: url(../font/notosans.ttf), format('truetype');
}
@font-face {
	font-family: 'titleFont';
	src: url(../font/KoPubWorld\ Batang\ Bold.ttf), format('truetype');
}


html {
	background-color: #FCFEFC;

}

body {
	margin-left: 150px; margin-right: 150px; position: relative;
}

* {
	padding: 0;
	margin: 0;
	font-family: 'webfont';
	box-sizing: border-box;
}


#mainImg {
	padding-top: 30px;
	width: 100%;
	border-radius: 8%;
	position: relative;
}
#mainImg>img{
	width: 100%;
}

#mainText {
	position: absolute;
	font-family: 'titleFont';
	top: 130px;
	left: 200px;
	font-weight: bold;
	line-height: 1.8em;
	font-size: 18px;
}
#mainText>{
	padding: 8px;
	margin-top: 1em;
}
#bg {
	background-color: ghostwhite;
	text-align: center;
	padding: 32px;
	margin-top: 30px;
	width: 100%;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.btn{
	position: relative;
   text-align: center;
   background-color: #88888888;
   padding: 8px;
   border-radius: 12px;
   font-size: 12px;
   color: white;
   width: 16em;
   height: 4em;
   border: none;
   margin: 10px, 0, 10px, 0;
}

#portWraper {
	width: 600%;
	overflow-x: hidden;
	
}
footer {
	height: 200px;
	
}

h2{
	font-size: 20px;
	text-align: center;
}

h1{
	font-size: 30px;
}





	
