@charset "UTF-8";
.listicon {width: 20px; margin-left: 20px;}  
body {margin: 0px;}
table {
    width: 700px;
    border: 1px solid rgb(192, 192, 192);
    border-collapse: collapse;
    margin: 0 auto;
}
h4 {text-align: center;}

.buttons {
    position: relative;
    text-align: center;
    background-color: #88888888;
    padding: 8px;
    border-radius: 12px;
    font-size: 10px;
    color: white;
    width: 8em;
    border: none;
    margin: 10px 0 10px 0;
    left: 623px;  
}
th, td {
    padding-left: 15px;
}
.middleicon {width: 50px; height: 50px;}
p {
    display: inline-block;
    position: relative;
    top: -2px;
    margin-left: 2px;
}

.p2 {
    display: inline-block;
    font-size: 30px;
    position: relative;
    top: -13px;
    margin-left: 2px;
}
textarea {
    width: 685px;
    height: 8em;
    margin: 0 auto;
    display: block;
    padding: 7px;
    
}
hr {
    width: 700px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.content {
    height: 80px;
    padding: 10px;
    max-width: 500px;
    max-height: 150px;
    overflow: auto;
    white-space: pre-wrap;
    padding-left: 15px;
    overflow-x: hidden; /* 가로 스크롤 비활성화 */
}

#nickname {
    padding-top: 10px;
    height: 10px;
    max-width: 120px;
}

.comment-item {
    margin-bottom: 10px;
}

.update {
    margin-right: 10px;
    left: 460px;
}

.delete {
    margin-right: 10px;
    left: 470px;
}

.cmt {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 700px;
    max-height: 150px;
}

.comment-item {
    margin-bottom: 10px;
}

.cmt-buttons {
    display: none;
    left: 470px;
    font-size: inherit; /* 다른 스타일 변경 없도록 상속 받음 */

}

.list-buttons {
	left: 320px	    	
}

.list-button {
	display: inline-block;
    font-size: 25px;
    position: relative;
    top: -13px;
    margin-left: 2px;
    left: 0px;
}

.comment-info p {
    margin: 0; /* 상단과 하단 마진 제거 */
}

.comment-item:hover .cmt-buttons {
    display: inline-block;
}

.cmt-buttons .cmt-button {
    margin-right: 10px;
}

.comment-date {
    max-width: max-content;
}

.comment-info {
    padding-top: 10px;
    height: 10px;
    max-width: 140px;
}