@charset "UTF-8";
.listicon {width: 20px; margin-left: 20px;}  
body {margin: 0px;
}
table {
    width: 700px;
    border: 1px solid rgb(192, 192, 192);
    border-collapse: collapse;
    margin: 0 auto;
}
h4 {text-align: center;}

.buttons {
    position: relative;
    text-align: center;
    background-color: #88888888;
    padding: 8px;
    border-radius: 12px;
    font-size: 10px;
    color: white;
    width: 8em;
    border: none;
    margin: 10px 0 10px 0;
    left: 623px;  
}
th, td {
    padding-left: 15px;
}
.middleicon {width: 50px; height: 50px;}
p {
    display: inline-block;
    position: relative;
    top: -2px;
    margin-left: 2px;
}

.p2 {
    display: inline-block;
    font-size: 30px;
    position: relative;
    top: -13px;
    margin-left: 2px;
}
textarea {
    width: 685px;
    height: 8em;
    margin: 0 auto;
    display: block;
    padding: 7px;
    
}
hr {
    width: 700px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.content {
    height: 80px;
    padding: 10px;
    max-width: 500px;
    max-height: 150px;
    overflow: auto;
    white-space: pre-wrap;
    padding-left: 15px;
    overflow-x: hidden; /* 가로 스크롤 비활성화 */
}

#date {
	position: relative;
	left: 370px;
}

#empty {
	text-align: center;	
	width: 700px;
    display: inline-block; /* 블록 레벨 요소로 설정 */
    height: 3em;
    margin-top: 50px; /* 예시로 50px로 지정 */
}

#container {
    display: flex;
    align-items: center;
    position: relative;
    width: 700px;
    border: solid 1px black;
    margin: 0 auto;

}

#nickname {
    padding-top: 10px;
    height: 10px;
    max-width: 120px;
}

#updateCmtDialog {
	margin: auto; /* 가운데 정렬을 위한 margin 속성 추가 */
    width: 680px; /* 적절한 폭을 설정하세요 */
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    display: none;
    
}

#updateCmtContent {
    max-width: 90%;
    box-sizing: border-box;
    overflow: hidden; /* 스크롤을 사용하지 않도록 설정 */
}

/* 다이얼로그가 나오면 테이블의 크기를 늘리고 싶다면, 아래와 같이 설정 */
.updateCmtDialog {
    width: 700px; /* 가로 크기 700px로 고정 */
    max-height: 80vh; /* 세로 크기를 화면 높이의 80%로 설정 (자동으로 조절됨) */
	padding: 10px;
}

.comment-item {
    margin-bottom: 10px;
}

.update {
    margin-right: 10px;
    left: 460px;
}

.delete {
    margin-right: 10px;
    left: 470px;
}

.cmt {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 700px;
    max-height: 180px;
}

.comment-item {
    margin-bottom: 10px;
}

.cmt-buttons {
    display: none;
    left: 470px;
    font-size: inherit; /* 다른 스타일 변경 없도록 상속 받음 */

}

.list-buttons {
	left: 320px	    	
}

.list-button {
	display: inline-block;
    font-size: 25px;
    position: relative;
    top: -13px;
    margin-left: 2px;
    left: 0px;
}

.comment-info p {
    margin: 0; /* 상단과 하단 마진 제거 */
}

.comment-item:hover .cmt-buttons {
    display: inline-block;
}

.cmt-buttons .cmt-button {
    margin-right: 10px;
}

.comment-date {
    max-width: max-content;
}

.comment-info {
    padding-top: 10px;
    height: 10px;
    max-width: 140px;
}